[submodule "nRF5_SDK_17.0.2_d674dde"]
	path = nRF5_SDK_17.0.2_d674dde
	url = https://github.com/acalatrava/nRF5_SDK_17.0.2_d674dde
[submodule "apps/secure_bootloader/micro-ecc"]
	path = apps/secure_bootloader/micro-ecc
	url = https://github.com/kmackay/micro-ecc
